{% extends "base.html" %}

{% block title %}Protected Page{% endblock %}

{% block content %}
<h1>Protected Page</h1>
<p>Welcome, {{ user.email }}!</p>

<p>Your cities:</p>

<!-- Bootstrap-styled list group to display the cities -->
<ul class="list-group">
  {% for city in cities %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{ city.city }}
      <form method="post" action="/delete_city" style="display:inline;">
        <input type="hidden" name="city_id" value="{{ city.id }}">
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
      </form>
    </li>
  {% endfor %}
</ul>

<form method="post" action="/city">
    <div class="form-group">
      <label for="city">city name</label>
      <input
        type="city"
        class="form-control"
        id="city"
        name="city"
        required
      >
    </div>

    <button type="submit" class="btn btn-primary">Add city</button>
  </form>

{% endblock %}
